<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>May's IT112</h1>
  <table>
    <tr>
      <td>1.
      <td><a href="week1/main.py"> Week1 </a> <br></td>
    </tr>
    <tr>
      <td>2.
      <td><a href="week2/templates/index.html"> Week2 </a> <br></td>
    </tr>
    <tr>
      <td>3
      <td><a href="week3/templates/list.html"> Week3 </a> <br></td>
    </tr>
    <tr>
      <td>4
      <td><a href="week4/main.py"> Week4 </a> <br></td>
    </tr>
  </table>
</body>
<footer>
  <br>
  <p>Author: May Kim</p>
  <button><a href="index.html">Go back to main</a></button>
</footer>
</html>