<!DOCTYPE html>
<html>
    <title>unknown</title>
    <head>

    </head>
    <body>
        <form method="post" action="/result">
            <input name="userName" placeHolder="Name">
            <select name="color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
            </select>

            <select name="number">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Send" />
        </form>

    </body>
</html>