<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company List</title>
</head>
<body>
    <h1>Company List</h1>
    <table>
        <thead>
          <td>Name</td>
          <td>Address</td>
          <td>Type</td>
          <td>Employees</td>
        </thead>
        <tbody>
          {% for company in companyList %}
          <tr>
            <td><a href="/company/{{company.id}}">{{company.name}}</a></td>
            <td>{{company.address}}</td>
            <td>{{company.type}}</td>
            <td>{{company.employee}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
</body>
</html>